In [1]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.400172  0.398574  0.078032  0.419142  0.757996  0.532861
2  0.426420  0.720564  0.690947  0.951669  0.303750  0.856952
3  0.945253  0.578602  0.607126  0.240519  0.701675  0.661121
4  0.224784  0.850213  0.319510  0.314509  0.266039  0.473215
5  0.379500  0.817571  0.622476  0.692705  0.647041  0.131984
6  0.893316  0.456787  0.099986  0.916891  0.241402  0.748688

(i) mean of each and every column present in the dataframe.

In [3]:
col_mean = df1.mean(axis=0)
print(col_mean)

column_1    0.544908
column_2    0.637052
column_3    0.403013
column_4    0.589239
column_5    0.486317
column_6    0.567470
dtype: float64

In [6]:
row_mean = df1.mean(axis=1)
print(row_mean)

1    0.431130
2    0.658384
3    0.622383
4    0.408045
5    0.548546
6    0.559511
dtype: float64

(ii) standard deviation of column, ‘column_2’

In [8]:
col2_std = df1['column_2'].std()
print(col2_std)

0.1885644443590931

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [10]:
df1.loc[2,'column_2'] = "nishant"
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

the original data in column 'column_2' was numerical and you replace it with a string value, then we will get an error when trying to find the mean of that column. This is because the mean method can only calculate the mean of numerical data.